<html>
    <head>
        <title>Music</title>

        {% load staticfiles%}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">

    </head>

    <body class="back">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="discography">
                    <h1 class="head-title">♫ Дискография ♫</h1>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>

        <div class="row">
            <div class="col-sm-2"></div>cd
            <div class="col-sm-1"><div class="column"></div></div>

            <div class="col-sm-6">
                <div class="music">
                    <img src="{% static 'discography/image/line.png' %}" class="image">

                    <!--#{% for song in songs %} -->
                    <div class="text">
                        <p class="musician">{{song.musician}}</p>
                        <p class="album">{{song.album}}</p>
                        <p class="song">♪{{song.song}}</p>
                    </div>
                    <!--    #{% endfor %} -->

                </div>
            </div>

            <div class="col-sm-1"><div class="column"></div></div>
            <div class="col-sm-2"></div>
        </div>
    </body>
</html>